# https://developers.home-assistant.io/docs/add-ons/configuration#add-on-config
name: sigenergy2mqtt
version: "2025.11.23"
image: "ghcr.io/seud0nym/home-assistant-addon-sigenergy2mqtt-{arch}"
slug: sigenergy2mqtt
description: Publish Modbus data from Sigenergy to an MQTT Broker, with optional PVOutput updating
url: "https://github.com/seud0nym/home-assistant-addons/tree/main/sigenergy2mqtt"
arch:
  - aarch64
  - amd64
init: false
map:
  - addon_config
host_network: true
options:
  modbus_force_auto_discovery: false
  modbus_host: ""
  modbus_slave: ""
  modbus_read_only: false 
  pvoutput_enabled: false
  pvoutput_api_key: ""
  pvoutput_system_id: ""
  pvoutput_consumption: false
  pvoutput_exports: true
  pvoutput_imports: true
  pvoutput_eod_update: true
  pvoutput_voltage: "Line to Neutral Average"
schema:
  modbus_force_auto_discovery: "bool"
  modbus_auto_discovery_ping_timeout: "float(0.5,)?"
  modbus_auto_discovery_timeout: "float(0.25,)?"
  modbus_auto_discovery_retries: "int(0,)?"
  modbus_host: "str?"
  modbus_port: "port?"
  modbus_slave: "match(^[0-9 ,]*$)?"
  modbus_accharger_slave: "match(^[0-9 ,]*$)?"
  modbus_dccharger_slave: "match(^[0-9 ,]*$)?"
  modbus_read_only: "bool?"
  modbus_no_remote_ems: "bool?"
  scan_interval_low: "int(300,)?"
  scan_interval_medium: "int(30,)?"
  scan_interval_high: "int(1,)?"
  scan_interval_realtime: "int(1,)?"
  sanity_check_default_kw: "int(1,)?" 
  modbus_log_level: "list(DEBUG|INFO|WARNING|ERROR|CRITICAL)?"
  pvoutput_enabled: "bool?"
  pvoutput_api_key: "str?"
  pvoutput_system_id: "str?"
  pvoutput_consumption: "bool?"
  pvoutput_exports: "bool?"
  pvoutput_imports: "bool?"
  pvoutput_eod_update: "bool?"
  pvoutput_temp_topic: "str?"
  pvoutput_log_level: "list(DEBUG|INFO|WARNING|ERROR|CRITICAL)?"
  pvoutput_voltage: "list(Phase A|Phase B|Phase C|Line to Neutral Average|Line to Line Average|PV Average)"
  pvoutput_ext_v7: "str?"
  pvoutput_ext_v8: "str?"
  pvoutput_ext_v9: "str?"
  pvoutput_ext_v10: "str?"
  pvoutput_ext_v11: "str?"
  pvoutput_ext_v12: "str?"
  mqtt_broker: "str?"
  mqtt_port: "port?"
  mqtt_tls: "bool?"
  mqtt_username: "str?"
  mqtt_password: "password?"
  mqtt_log_level: "list(DEBUG|INFO|WARNING|ERROR|CRITICAL)?"
  metrics_enabled: "bool?"
  log_level: "list(DEBUG|INFO|WARNING|ERROR)?"
  debug_sensor: "str?"
  discovery_prefix: "str?"
  entity_id_prefix: "str?"
  unique_id_prefix: "str?"
  device_name_prefix: "str?"
  smartport_enabled: "bool?"
  smartport_module_name: "str?"
  smartport_host: "str?"
  smartport_username: "str?"
  smartport_password: "password?"
  smartport_pv_power: "str?"
  smartport_mqtt_topic: "str?"
  smartport_mqtt_gain: "int?"
services:
  - "mqtt:want"
